tests/schema/fixtures/address.xsd

<?xml version="1.0"?>
<!-- Separate namespace — imported via xs:import in company.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/address"
           xmlns:addr="http://example.com/address">

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city"   type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
